body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px; 
    color: seashell;
    margin: 0;
    text-align: center;
    opacity: 0.9;
}

a { 
    color: inherit; 
    opacity: 0.8;
    margin-bottom: 0px;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}

a:hover {
    opacity: 1;
}

/* Navbar */

#navbar {
    height: 69px; 
    width: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
}

#tea-cosy-logo {
    margin-left: 10px;   
    max-height: 50px;
    opacity: 0.75; 
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-property: margin-left;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#tea-cosy-logo:hover {
    opacity: 1;
    margin-left: 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right > h3 {
    text-decoration: underline;
    padding: 10px; 
    color: inherit;
}


/* Mission Container */

.mission-container {
    background-image: url('../images/img-mission-background.jpg');
    height: 700px;
    width: 1200px;
    display: flex;
    background-position: center;
    margin:auto;
    border-radius: 20px;
}

.mission-text {
    background-color: black;
    opacity: 0.9;
    width: 100%; 
    margin: auto;
    text-align: center;
}

/* Featured Container */

.featured-img-container {
    display: inline-flex;
    max-width: 1000px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.featured-img img {
  max-width: 300px;
  max-height: 200px;
  border-radius: 20px;
  padding: 10px;
}

.featured-img h4 {
    margin: 0;
    padding-bottom: 50px;
}


/* Locations Container */

.locations-container {
    height: 500px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url(../images/img-locations-background.jpg);
    border-radius: 20px;
    position: relative;
}

.locations-text {
    position: absolute;
    top: 10px;
    margin: 0;
}

.address {
    width: 300px;
    height: 300px;
    margin: 40px;
    background-color: black;
    border-radius: 20px;
    opacity: 0.9;
}

/* Contact */

.contact {
    height: 200px;
    padding: 0;
    margin: 0;
}

/* Footer */

footer {
    text-align: left;
    padding-left: 20px;
}